$white: #FFFFFF;
$gray: #DADFDB;
$light-green: #68AB52;
$reddish: #AF0B39;
$bright-contrast: #EEC151;
$dark-main: #462255;
$light-contrast: #fee7a5;
$pink: #E6AEC1;
$back-img: '/src/images/sunrise.jpg';
