$white: #EAF3F7;
$gray: #DADFDB;
$light-green: #68AB52;
$reddish: #AF0B39;
$bright-contrast: #FCCE4A;
$dark-main: #027FE6;
$light-main: #5CCEF5;
$dark-secondary: #0A2B09;

$back-img: '/src/images/colorful-buildings.jpg';

// Not currently in use
$pink: #E6AEC1;
