$white: #FFFFFF;
$gray: #DADFDB;
$light-green: #68AB52;
$reddish: #AF0B39;
$bright-contrast: #EEC151;
$dark-main: #462255;
$light-main: #D67F78;
$dark-secondary: #0A2B09;
$light-contrast: #fee7a5;

$back-img: '/src/images/sunrise.jpg';

// Not currently in use
$pink: #E6AEC1;
