@import '_variables';
@import '_mixins';

* {
  // border: 1px solid red;
  font-family: 'Josefin Sans', sans-serif;
}

body {
  height: 100vh;
  margin: 0;
}

.main {
  @include primary-background();
  display: flex;
}

.sidebar {
  @include flex-column-center();
  @include border-radius-margin();
  width: 30%;
  height: 90%;
  padding: 1%;
  background-color: $light-main;
  opacity: 0.9;
  color: $white;
}

.logo {
  align-self: baseline;
  color: $dark-main;
  margin: 0%;
}

.welcome {
  margin: 10%;
  font-size: 250%;
}

.trips {
  width: 70%;
  height: 90%;
  padding: 1% 1% 1% 0%;
  display: flex;
  flex-flow: column wrap;
  overflow: scroll;
}

.trip {
  @include border-radius-margin();
  height: 25%;
  max-width: 44%;
  padding: 1%;
  background-color: $dark-main;
  opacity: 0.8;
  color: $white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.trip-details {
  @include flex-column();
  justify-content: space-between;
}

.city {
  font-size: 150%;
  margin: 0%;
}

.trip-status {
  padding: 2% 4% 2% 4%;
  border-radius: 15px;
}

.past {
  background-color: $gray;
  color: $dark-main;
}

.current {
  background-color: $bright-contrast;
  color: $dark-main;
}

.upcoming {
  background-color: $light-green;
}

.pending {
  background-color: $reddish;
}

.trip-img {
  border-radius: 15px;
  max-width: 60%;
}

.new-trip, .submit {
  @include border-radius-margin();
  width: 75%;
  padding: 2%;
  border: 0;
  background-color: $bright-contrast;
  color: $dark-main;
  font-weight: bold;
  font-size: 100%;
}

.new-trip:hover, .submit:hover {
  cursor: pointer;
  background-color: $light-contrast;
}

.request-form {
  background-color: $dark-main;
  width: 75%;
}

.request-form, .budget {
  @include flex-column();
  @include border-radius-margin();
  padding: 5%;
}

.budget {
  @include flex-column-center();
}

.dollars {
  @include flex-column-center();
  @include border-radius-margin();
  justify-content: center;
  background: url('/src/images/bills.jpg');
  background-size: cover;
  width: 75%;
  padding: 20%;
  font-size: 250%;
  color: $white;
  text-shadow: 2px 2px $dark-secondary;
}

input, select {
  margin-bottom: 5%;
  color: $dark-main;
}

.submit {
  margin: 10% 0% 0% 0%;
  align-self: center;
  padding: 3%;
}

.hidden {
  display: none;
}
